body {
    background: #b6b6b6; 
    font-weight: 100;
}

.post-meta-single-top .post-meta {
    justify-content: center;
    display: none; 
}

/* ARCHIVE TITLE */ 
.archive-title {
    font-weight: 100;
}


/* POST TITLE */
h1.entry-title, h2.entry-title {
    margin: 0;
    font-weight: 100;
}

/* COUNT REVIEWS */
.Headline_AllReviews {
    font-weight: 100;
}

/* WIDGET TITLE */
.widget .widget-title {
    font-weight: 200;
}

/** RESTAURANTS ADMIN OPTIONS - BUTTON COLOR **/ 
/* review_btn_color */
.pink {
    background-color: #ff006a; 
}

.purple {
    background-color: #880088; 
}

.blue {
    background-color: #0004ff; 
}

.green {
    background-color: #006e00; 
}

.orange {
    background-color: #ff9100; 
}

.red {
    background-color: #cf0404; 
}